@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

/* Import modular styles */
@import "./transition-styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #141414;
  --fg: #fff;
  --fg-100: #f1f1f1;
  --fg-200: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

/* Custom Utility Classes */
.h1-large {
  font-size: 12rem;
  text-transform: uppercase;
  color: #141414;
  line-height: 1;
}

.h1-scroll-animation-text {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #a1a1a1;
}

.scroll-animation-section {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: #141414;
  color: #f1f1f1;
  overflow: hidden;
}

.scroll-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-col {
  position: absolute;
  width: 50%;
  height: 100%;
  will-change: transform;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}

@layer base {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #141414;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .nav-logo a {
    font-family: "VTC Carrie", sans-serif;
    font-size: 1.25rem;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    background-color: #e3e4d8;
  }

  .page-header {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    pointer-events: none;
    z-index: 2;
  }

  .block {
    flex: 1;
    height: 100%;
    background-color: #222;
    transform: scaleX(0);
    transform-origin: left;
  }

  .col-content,
  .col-img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  .col-content-wrapper, .col-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #282828;
    border-radius: 3rem;
    overflow: hidden;
  }

  .col-content-wrapper {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col-content-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col-img-1, .col-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .col-img-2 {
    clip-path: polygon(0% 0%, 100% 0%, 0% 0%);
  }

  .col-img-2 img {
    transform: scale(1.25);
  }

  .line {
    overflow: hidden;
  }

  .line span {
    display: block;
    will-change: transform;
  }

  .scroll-animation-page {
    @media (max-width: 1000px) {
      h1 {
        font-size: 1.25rem;
      }
      p {
        font-size: 0.85rem;
      }

      .col h1, .col p {
        width: 100%;
      }
      .col-content-wrapper, .col-content-wrapper-2 {
        padding: 2rem;
      }
    }
  }
      
  @media (max-width: 1000px) {
    h1 {
      font-size: 3rem;
    }
    
    .h1-large {
      font-size: 3rem;
    }
  }
}